@font-face {
    font-family: "1FTVRoashe";
    src: url("../fonts/1FTVRoashe.woff2") format('woff2'),
         url("../fonts/1FTVRoashe.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SVN-GothamLight";
    src: url("../fonts/SVN-GothamLight.woff2") format('woff2'),
         url("../fonts/SVN-GothamLight.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SVN-GothamBold";
    src: url("../fonts/SVN-GothamBold.woff2") format('woff2'),
         url("../fonts/SVN-GothamBold.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "DFVN-CatchyMager-Regular";
    src: url("../fonts/DFVN-CatchyMager-Regular.woff2") format('woff2'),
         url("../fonts/DFVN-CatchyMager-Regular.woff") format('woff');
    font-style: normal;
    font-weight: normal;
}


:root{
    --background-color: #eae8e3ff;
    --primary-color: black;
    --secondary-color: #F8F3ED;
    --font-gotham: 'SVN-Gotham';
    --font-mtd: 'MTD Doppelganger Display';
    --font-aston: 'Aston Script';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.container {
    font-family: '1FTVRoashe', sans-serif;
    max-width: 500px;
    width: 100%;
    background-color: var(--background-color);
    margin: 0 auto;
    color: var(--primary-color);
}

/* Header Section */
header {
    text-align: center;
    padding: 5% 0 4%;
    font-size: 11.58px;
}

.intro-text {
    font-size: 11.58px;
    font-weight: 300;
    letter-spacing: 1.4px;
    line-height: 1.6;
    color: black;
}

/* Names Section */
.names {
    background-image: url('../images/line-top-1.png'), url('../images/line-top-2.png');
    background-position: 45% 0%, 100% 100%;
    background-size: 40%, 40%;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    padding: 4% 3% 8%;
}

.names h1 {
    font-size: 100px;
    font-weight: 500;
    line-height: 1;
    color: var(--primary-color);
    margin: 2% 0;
    position: relative;
}

.names h1:first-child {
    text-align: left;
}

.names h1:last-child {
    text-align: right;
}

.names h1:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 58%;
    display: block;
    height: 1px;
    width: 10%;
    background-color:var(--primary-color);
    overflow: hidden;
}

@media (max-width: 500px) {
    .intro-text {
        font-size: calc((11.58 / 500) * 100vw);
        letter-spacing: calc((1.4 / 500) * 100vw);
    }
    .names h1 {
        font-size: calc((100 / 500) * 100vw);
    }
}

/* Photo Section */
.main-photo {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 6%;
    margin-top: -4%;
}

.main-photo .img-box {
    display: flex;
    /* text-align: right; */
    justify-content: flex-end;
    width: 100%;
    z-index: -100;
}
.main-photo .img-box img {
    width: 315px;
    height: auto;
    display: block;
}

.main-photo .photo-overlay {
    display: flex;
    width: 20%;
    flex-direction: column;
    position: absolute;
    left: 23%;
    bottom: -2%;
}

.main-photo .photo-overlay .number {
    display: flex;
    max-width: 80px;
    width: 100%;
    aspect-ratio: 80 / 70;
    color: white;
    z-index: 100;
}

.main-photo .photo-overlay .number p {
    font-family: "DFVN-CatchyMager-Regular", sans-serif;
    font-size: 64px;
    font-weight: 300;
    width: 50%;
    padding: 0 6%;
}

.main-photo .photo-overlay .number p:first-child {
    text-align: right;
    color: var(--primary-color);
}

.main-photo .text-overlay {
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    font-weight: 300;
    font-size: 10px;
    bottom: 23%;
    right: -7%;
}

@media (max-width: 500px) {
    .main-photo .img-box img {
        width: calc((315 / 500) * 100vw);
    }

    .main-photo .photo-overlay .number {
        max-width: calc((80 / 500) * 100vw);
    }
    
    .main-photo .photo-overlay .number p {
        font-size: calc((64 / 500) * 100vw);
    }

    .main-photo .text-overlay {
        font-size:  calc((10 / 500) * 100vw);
    }
    
}


/* Wedding Info */
.wedding-info {
    text-transform: lowercase;
    text-align: right;
    padding: 12% 5% 5%;
}

.wedding-info .date-text {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.4px;
    color: var(--primary-color);
}

.parents-info {
    margin-top: 5%;
}
.parents-info p {
    font-family: "DFVN-CatchyMager-Regular", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    line-height: 1.5;
    margin-left: 8%;
}

/* Save the Date */
.save-date {
    text-align: center;
    padding: 5%; 
}

.save-date h2 {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--primary-color);
    padding-bottom: 3%;
}

.save-date .img-box {
    width: 100%;
    aspect-ratio: 500 / 165;
}

.save-date .img-box img{
    width: 1px;
    height: 100%
}

@media (max-width: 500px) {
    .wedding-info .date-text {
        font-size: calc((12 / 500) * 100vw);
        letter-spacing: calc((1.4 / 500) * 100vw);
    }

    .parents-info p {
        font-size: calc((12 / 500) * 100vw);
    }
    
    
    .save-date h2 {
        font-size: calc((42 / 500) * 100vw);
        letter-spacing: calc((1 / 500) * 100vw);
    }

    .save-date .img-box {
        max-width: calc((432 / 500) * 100vw);
    }
}

/* Venue Section */
.venue {
    text-align: center;
    padding: 2%;
}

.venue .venue-description {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10.72px;
    font-weight: 300;
    color: var(--primary-color);
    margin: 1% 0;
    text-transform: uppercase;
}
.venue .venue-description strong {
    font-family: "SVN-GothamBold", sans-serif;
}

.venue .venue-name {
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 2px;
    color: black;
    margin-top: 5%;
}

.venue .venue-address {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10.72px;
    font-weight: 300;
    color: var(--primary-color);
    line-height: 1.6;
    padding: 0 5% 2%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.venue .btn-map {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 14px;
    width: 50%;
    display: inline-block;      
    padding: 1% 3%;         
    background-color: var(--primary-color);
    color: white;              
    border: 1px solid var(--primary-color);
    text-decoration: none;      
    border-radius: 20px;         
    font-weight: bold;        
    transition: background 0.3s;
}

.venue .btn-map:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.venue .date-box {
    padding: 10% 0;
    font-size: 10px;
}

.venue .date-box .text-date {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 10.72px;
    font-weight: 300;
    text-transform: uppercase;
}
.venue .event-date {
    line-height: 1;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--primary-color);
    margin-bottom: 7%;
}

.venue .img-box {
    width: 100%;
    aspect-ratio: 500 / 165;
}

.venue .img-box img{
    width: 1px;
    height: 100%
}

@media (max-width: 500px) {
    .venue .venue-description, .venue .date-box {
        font-size: calc((10.72 / 500) * 100vw);
    }

    .venue .venue-name {
        font-size: calc((64 / 500) * 100vw);
        letter-spacing: calc((2 / 500) * 100vw);
    }

    .venue .venue-address {
        font-size: calc((10.72 / 500) * 100vw);
        letter-spacing: calc((0.5 / 500) * 100vw);
    }
    
    .venue .btn-map {
        font-size: calc((14 / 500) * 100vw);
    }
    
    .venue .event-date {
        font-size: calc((64 / 500) * 100vw);
        letter-spacing: calc((1 / 500) * 100vw);
    }
}

/* Timeline Section */
.timeline {
    background-image: url('../images/g730.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 0px 5%;
}

.timeline h2 {
    font-size: 58px;
    font-weight: 300;
    letter-spacing: 2px;
    color: var(--primary-color);
    margin-bottom: 10%;
}

.timeline .timeline-items {
    position: relative;
    padding: 0 5%;
    width: 100%;
    aspect-ratio: 500 / 300;
}

.timeline .timeline-items .timeline-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 40%;
}

.timeline-items .timeline-item:nth-child(1) {
    left: 5%;
    top: 0;
}

.timeline-items .timeline-item:nth-child(3) {
    left: 10%;
    top: 48%;
}
/* 
.timeline-items .timeline-item:nth-child(5) {
    left: 5%;
    top: 60%;
} */

.timeline-items .timeline-item:nth-child(2) {
    right: 0%;
    top: 10%;
}

 .timeline-items .timeline-item:nth-child(4) {
    right: -4%;
    top: 66%;
}
/*
.timeline-items .timeline-item:nth-child(6) {
    right: 8%;
    top: 75%;
} */


.timeline .timeline-items .timeline-item div {
    margin: 0 5%;
}

.timeline .timeline-items .timeline-item .time-icon {
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline .timeline-items .timeline-item .time-icon img {
    width: 100%;
}

.time-text {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
}

.time-text p {
    line-height: 1.2;
}

@media (max-width: 500px) {
    .timeline h2 {
        font-size: calc((58 / 500) * 100vw);
        letter-spacing: calc((2 / 500) * 100vw);
    }

    .timeline .timeline-items .timeline-item .time-icon {
        width: calc((50 / 500) * 100vw);
    }

    .time-text {
        font-size: calc((15 / 500) * 100vw);
    }
}

/* Photo Gallery */
.photo-gallery {
    padding: 5% 2%;
}

.photo-gallery .text-title {
    font-size: 11.15px;
    letter-spacing: 1.2px;
    padding-bottom: 2%;
    padding-left: 2%;
}

.photo-gallery .gallery-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2%;
}

.photo-gallery .gallery-container .img-box {
    margin-top: 1%;
    width: 225px;
    aspect-ratio: 225 / 350;
}
.photo-gallery .gallery-container .img-box:nth-child(1) img {
    object-position: 65% 100%;
}

.photo-gallery .gallery-container .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dresscode {
    margin: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.dresscode h2 {
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--primary-color);
    margin-bottom: 5%;
}

.dresscode .items {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.dresscode .items .item {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* .dresscode .items .item:nth-child(1) {
    transform: translateX(15px);
}

.dresscode .items .item:nth-child(2) {
    transform: translateX(5px);
}

.dresscode .items .item:nth-child(3) {
    transform: translateX(-5px);
}

.dresscode .items .item:nth-child(4) {
    transform: translateX(-15px);
} */


@media (max-width: 500px) {
    .photo-gallery .text-title {
        font-size: calc((11.15 / 500) * 100vw);
        letter-spacing: calc((1.2 / 500) * 100vw);
    }

    .dresscode h2 {
        font-size: calc((58 / 500) * 100vw);
        letter-spacing: calc((2 / 500) * 100vw);
    }

    .dresscode .items .item {
        width: calc((40 / 500) * 100vw);
    }
    
}

/* Quote Section */
.quote {
    text-align: right;
    padding: 0 2%;
}

.quote p {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1.4px;
    line-height: 1;
    margin: 1% 2%;
    text-transform: uppercase;
}

@media (max-width: 500px) {
    .quote p {
        font-size: calc((13 / 500) * 100vw);
        letter-spacing: calc((1.4 / 500) * 100vw);
    }
}

/* RSVP Section */
.rsvp {
    background-image: url('../images/end-03.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    padding: 2%;
}

.rsvp form {
    padding: 0 8%;
}

.rsvp .img-style {
    width: 30%;
}

.rsvp .img-style img {
    width: 100%;
}

.rsvp .rsvp-text {
    font-family: "SVN-GothamLight", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 15px;
    line-height: 1.6;
}

.rsvp .rsvp-text strong {
    font-family: "SVN-GothamBold", sans-serif;
}

.rsvp-buttons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 5%;
}

.rsvp-buttons input[type="radio"] {
    display: none;
}

.rsvp-buttons label {
    font-family: "SVN-GothamLight", sans-serif;
    padding: 2% 7% 3%;
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
}

.rsvp-buttons label:hover {
    background-color: #333;
    color: #e8e3db;
}

.rsvp-buttons input[type="radio"]:checked + label {
    background-color: #333;
    color: #e8e3db;
}

.message-section {
    margin: 3% 0;
}

.message-section textarea {
    width: 100%;
    height: 100px;
    padding: 2%;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    font-size: 12px;
    color: #333;
    margin-bottom: 4%;
    border-radius: 15px;
    resize: none;
    font-family: "SVN-GothamLight", sans-serif;
}

.message-section input {
    width: 100%;
    padding: 2%;
    margin-bottom: 5%;
    border: 1px solid var(--primary-color);
    background-color: #fff;
    font-size: 12px;
    color: #333;
    border-radius: 15px;
    font-family: "SVN-GothamLight", sans-serif;
}

.btn-send {
    margin: 0 auto;
    display: block;
    width: 36%;
    padding: 2% 5%;
    border: 1px solid #333;
    background-color: #cccccb;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.btn-send:hover {
    background-color: transparent;
    color: var(--primary-color);
}

.end-text {
    padding: 5%;
}

.final-note {
    font-size: 11px;
    letter-spacing: 1px;
    color: var(--primary-color);
    line-height: 1.6;
    text-align: left;
}

::placeholder {
    color: #444444;
    font-style: italic;
}

@media (max-width: 500px) {
    .rsvp .rsvp-text {
        font-size: calc((11 / 500) * 100vw);
    }
    .rsvp-buttons label {
        font-size: calc((11 / 500) * 100vw);
    }

    .message-section textarea, 
    .message-section input  {
        font-size: calc((12 / 500) * 100vw);
    }
    
    .btn-send {
        font-size: calc((11 / 500) * 100vw);
        letter-spacing: calc((1 / 500) * 100vw);
    }
}

/* music */
.player {
    position: fixed;
    top: 10px;
    right: 2%;
    max-width: 45px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
}

.player img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spin {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 500px) {
    .player {
        max-width: calc((45 / 500) * 100vw);
        min-width: 32px;
    }
}
